nav.pagination{
	@include clearfix();
	width:100%;
	display : block;
	padding : 30px 10px 20px;
	text-align : center;
	@include clearfix;
	a.page-numbers,span.page-numbers{
		border : 3px solid $sky-blue;
		padding : 5px 10px;
		background-color: $glass;
		&:hover {
			background-color: $yellow;
			border-color : $yellow;
			color : $navy2;

		}
		&.current{
			background-color: $sky-blue;
			color : $navy2;
		}
	}
	span.page-numbers{
		padding : 5px 12px;
	}
}